/*
    Document   : style
    Created on : Oct 29, 2014, 4:19:00 PM
    Author     : admin
    Description: Common Styles for all reports
    Purpose of the stylesheet follows.
*/
@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('font/Caviar_Dreams_Bold-webfont.eot');
    src: url('font/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('font/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('font/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('font/CaviarDreams-webfont.eot');
    src: url('font/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/CaviarDreams-webfont.woff') format('woff'),
         url('font/CaviarDreams-webfont.ttf') format('truetype'),
         url('font/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitstream_vera_serifroman';
    src: url('font/VeraSerif-webfont.eot');
    src: url('font/VeraSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/VeraSerif-webfont.woff') format('woff'),
         url('font/VeraSerif-webfont.ttf') format('truetype'),
         url('font/VeraSerif-webfont.svg#bitstream_vera_serifroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    /*8background-image: url('images/bg5.jpg');*/
}

/* Elegant Aero Form */
.elegant-aero-demo{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.elegant-aero {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font-family: 'caviar_dreamsbold', Arial, sans-serif;   
    color: #666;
    font-size: 12px;
}
.elegant-aero h1 {
    font: px "caviar_dreamsbold", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
}
.elegant-aero h1>span {
    display: block;
    font-size: 11px;
}
.elegant-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.elegant-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.elegant-aero label>span {
    float: left;
    width: 20%;
    text-align: left;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea{
    color: #888;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
.elegant-aero textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.elegant-aero select {
    background: #fbfbfb url('images/down-arrow.png') no-repeat right;    
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
}
.elegant-aero .button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    /*text-shadow: 1px 1px 1px #5079A3;*/
}
.elegant-aero .button:hover{
    background: #3EB1DD;
}
#error{
    color:red;
}
/* Report Table Spinning Wrapping Css */

table.standards {   
    font-family: 'caviar_dreamsregular', Arial, sans-serif;
    color:#1957ED;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    font-weight: bold;
    background-color: #D2E9FF;
}

table.spinningwrapping {
   /* font-family: verdana,arial,sans-serif;*/
    font-family: 'bitstream_vera_serifroman', Arial, sans-serif;
    color:#1957ED;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    font-weight: bold;
}
table.spinningwrapping th {
   /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.11, #FFF58C),color-stop(1, #6BDAFF));
    background-image: -o-linear-gradient(bottom, #FFF58C 11%, #6BDAFF 100%);
    background-image: -moz-linear-gradient(bottom, #FFF58C 11%, #6BDAFF 100%);
    background-image: -webkit-linear-gradient(bottom, #FFF58C 11%, #6BDAFF 100%);
    background-image: -ms-linear-gradient(bottom, #FFF58C 11%, #6BDAFF 100%);
    background-image: linear-gradient(to bottom, #FFF58C 11%, #6BDAFF 100%);
    font-size: 11px;
    font-size-adjust: 11px;*/
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.11, #C7E3DA),color-stop(1, #EEF6F9));
    background-image: -o-linear-gradient(bottom, #C7E3DA 11%, #EEF6F9 100%);
    background-image: -moz-linear-gradient(bottom, #C7E3DA 11%, #EEF6F9 100%);
    background-image: -webkit-linear-gradient(bottom, #C7E3DA 11%, #EEF6F9 100%);
    background-image: -ms-linear-gradient(bottom, #C7E3DA 11%, #EEF6F9 100%);
    background-image: linear-gradient(to bottom, #C7E3DA 11%, #EEF6F9 100%);
    font-size: 11px;
    font-size-adjust: 11px;
    padding: 10px;
}
table.spinningwrapping tr:nth-child(odd)
{
    background: #EAEEFF;
}
table.spinningwrapping tr:nth-child(even)
{
    background: #EAF5FF;
}
.roundcorner
{
    height:150px;
    font-weight: bold;
    color: brown;
    border:1px solid #6573C9;
    background-color:#EAEEFF;   
}
/*tr:nth-child(odd) td[rowspan]*/

/* Report Table UT3 Css */

table.ut3report {
    font-family: 'bitstream_vera_serifroman', Arial, sans-serif;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;    
    font-size: 12px;
}
table.ut3report th {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.11, #C7E3DA),color-stop(1, #EEF6F9));
    background-image: -o-linear-gradient(bottom, #C7E3DA 11%, #EEF6F9 100%);
    background-image: -moz-linear-gradient(bottom, #C7E3DA 11%, #EEF6F9 100%);
    background-image: -webkit-linear-gradient(bottom, #C7E3DA 11%, #EEF6F9 100%);
    background-image: -ms-linear-gradient(bottom, #C7E3DA 11%, #EEF6F9 100%);
    background-image: linear-gradient(to bottom, #C7E3DA 11%, #EEF6F9 100%);
    font-size: 11px;
    font-size-adjust: 11px;
    padding: 10px;    
}
table.ut3report tr:nth-child(odd)
{
    background: #EFEFF5;
}
table.ut3report tr:nth-child(even)
{
    background: #EFEFF5;
}
/* Font For Process Communication*/

.style111{color:#C71585;}
.style3 {
    font-size: xx-small;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #0055AA;
    font-weight: bold;
    font-style: italic;
}
.style4 {font-size: xx-small}
.style5 {font-family: Geneva, Arial, Helvetica, sans-serif; color: #0000FF; font-weight: bold; font-size: small; }
.style7 {color: #FF0000}
.style8 {font-size: small}
.style9 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #0000FF;
}
.style6 {
    font-family: "Times New Roman", Times, serif;
    font-size: smaller;
    color: #660033;
}
.style101 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #0000FF;
}
.style301 {color: #AC1A1A; font-size: 11px;}
.heading{
    text-align: center;
}
@media print
{
    table.ut3report thead 
    {
        display: table-header-group;  /* Displaying Table Header On every Print Page*/
    }
    table.ut3report
    {
        border: 0;
        page-break-after:auto;
    }
    table.ut3report th
    {
        display: table-cell;
        page-break-inside:avoid; 
        page-break-after:auto;
    }
    table.ut3report td
    {
        display: table-cell;
        page-break-inside:avoid;
        page-break-after:auto;
    }    
    .elegant-aero-demo{
        display: none;
    }  
    .heading{
        display: block;
        text-align: center;
    }
}